@model MobAlytaloMVC.Models.Valot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Valot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HuoneValo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HuoneValo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValoOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValoOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valo33)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valo33)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valo66)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valo66)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valo100)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valo100)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ValoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
