@model IEnumerable<MobAlytaloMVC.Models.Valot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HuoneValo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValoOff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valo33)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valo66)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valo100)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HuoneValo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValoOff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valo33)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valo66)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valo100)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ValoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ValoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ValoID })
        </td>
    </tr>
}

</table>
