@model MobAlytaloMVC.Models.Termostaatti

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Termostaatti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TermostaattiNimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TermostaattiNimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TermostaattiTila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TermostaattiTila)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TermostaattiNykyLampo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TermostaattiNykyLampo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TermostaattiID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
